.navigation {
    width: 100%;
    box-shadow: 0 2px 2px 0 #f0f0f0;
    background: #000000;
    z-index: 9999;
    .menu-container {
        a {
            text-decoration: none;
            font-weight: bold; 
            line-height: 16px;
            color: #ffffff !important;
        }
        a:hover {
            opacity: 0.6;
            text-decoration: none;
            font-weight: bold; 
        }
    }

    .logo {
        width: 10%;
        align-items: center;
        img {
            width: 80px;
            height: 60px;
            margin: auto;
        }
    }

    .menu-icons {
        h3 {
            line-height: 80px;
        }
    }
    .cart-btn {
        color: #ffffff;
    }

    .logged-in {
        min-width: 200px;
        justify-content: center;

        .dropdown {
            button 
            {
                color: #000000;
                background-color: #ffffff;
                border-radius: 50%;
                width: 50px;
                height: 50px;    
                font-weight: bold;
            }
            button::after {
                display: none;
            }
        }
        .circle {
            width: 50px;
            height: 50px;
            border-radius: 30px;
            background-color: #000000;
        }
    }
}

.button-themed {
    font-weight: bold;
    color: #ffffff;
    padding: auto;
    transition: ease-out .1s;
}

.button-themed:hover {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
    transition: ease-in .1s;
}