.navigation {
    .item {
        border-radius: 0 !important;
    }
    background: #000000 !important;
    i, .nav-link {
        font-size: 1.5em;
        color: #ffffff;
    }
    a {
        font-weight: 500;
    }
    .logo {
        font-size: x-large;
    }
}